//  Rename this file config.js

/* 
    TWITTER API KEYS
    consumer_key, consumer_secret, access_token, access_token_secret
    Set up an account for your bot at dev.twitter.com
    Generate the items below and fill them in here

    NASA API KEY
    Set up an account for your bot at api.nasa.gov
    Take the API key generated for you and fill it in here
*/

module.exports = {
  consumer_key:         '',
  consumer_secret:      '',
  access_token:         '',
  access_token_secret:  '',
  CLOUDINARY_URL:      '', 
  cloud_name:            '',
  api_key:                '',
  api_secret:             '',
  nasa_api_key:          ''
}
